# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/out/
/Cinema Room Manager/task/out/production/classes/
/Topics/Array/Allocation memory/out/
/Topics/Array/Allocation memory/out/production/classes/
/Topics/Array/Initializations/out/
/Topics/Array/Initializations/out/production/classes/
/Topics/Array/Initializing an array of characters/out/
/Topics/Array/Initializing an array of characters/out/production/classes/
/Topics/Array/Initializing an array of integers/out/
/Topics/Array/Initializing an array of integers/out/production/classes/
/Topics/Array/Initializing an array of longs/out/
/Topics/Array/Initializing an array of longs/out/production/classes/
/Topics/Array/Theory/out/
/Topics/Array/Theory/out/production/classes/
/Topics/Array/Ways to create an array of ints/out/
/Topics/Array/Ways to create an array of ints/out/production/classes/
/Topics/Branching statements/A suitable output/out/
/Topics/Branching statements/A suitable output/out/production/classes/
/Topics/Branching statements/Bus tour/out/
/Topics/Branching statements/Bus tour/out/production/classes/
/Topics/Branching statements/Even or odd/out/
/Topics/Branching statements/Even or odd/out/production/classes/
/Topics/Branching statements/Statements about break and continue/out/
/Topics/Branching statements/Statements about break and continue/out/production/classes/
/Topics/Branching statements/The integer barrier/out/
/Topics/Branching statements/The integer barrier/out/production/classes/
/Topics/Branching statements/The sequence/out/
/Topics/Branching statements/The sequence/out/production/classes/
/Topics/Branching statements/Theory/out/
/Topics/Branching statements/Theory/out/production/classes/
/Topics/Branching statements/What is the output/out/
/Topics/Branching statements/What is the output/out/production/classes/
/Topics/Calling a method/Abs method/out/
/Topics/Calling a method/Abs method/out/production/classes/
/Topics/Calling a method/Area of parallelogram/out/
/Topics/Calling a method/Area of parallelogram/out/production/classes/
/Topics/Calling a method/Call me awesome/out/
/Topics/Calling a method/Call me awesome/out/production/classes/
/Topics/Calling a method/Correct names for methods/out/
/Topics/Calling a method/Correct names for methods/out/production/classes/
/Topics/Calling a method/Method invocation/out/
/Topics/Calling a method/Method invocation/out/production/classes/
/Topics/Calling a method/Theory/out/
/Topics/Calling a method/Theory/out/production/classes/
/Topics/Integer types and operations/Arithmetic expression/out/
/Topics/Integer types and operations/Arithmetic expression/out/production/classes/
/Topics/Iterating over arrays/Alphabetical order/out/
/Topics/Iterating over arrays/Alphabetical order/out/production/classes/
/Topics/Iterating over arrays/Check if an array contains two numbers/out/
/Topics/Iterating over arrays/Check if an array contains two numbers/out/production/classes/
/Topics/Iterating over arrays/Check if an array is sorted ascending/out/
/Topics/Iterating over arrays/Check if an array is sorted ascending/out/production/classes/
/Topics/Iterating over arrays/Count how many times a number occurs/out/
/Topics/Iterating over arrays/Count how many times a number occurs/out/production/classes/
/Topics/Iterating over arrays/Cyclically shifting elements/out/
/Topics/Iterating over arrays/Cyclically shifting elements/out/production/classes/
/Topics/Iterating over arrays/Does an array contain N/out/
/Topics/Iterating over arrays/Does an array contain N/out/production/classes/
/Topics/Iterating over arrays/Individual taxes/out/
/Topics/Iterating over arrays/Individual taxes/out/production/classes/
/Topics/Iterating over arrays/Right Rotation/out/
/Topics/Iterating over arrays/Right Rotation/out/production/classes/
/Topics/Iterating over arrays/Select loops/out/
/Topics/Iterating over arrays/Select loops/out/production/classes/
/Topics/Iterating over arrays/The index of the first max in an array/out/
/Topics/Iterating over arrays/The index of the first max in an array/out/production/classes/
/Topics/Iterating over arrays/The longest ascending sequence/out/
/Topics/Iterating over arrays/The longest ascending sequence/out/production/classes/
/Topics/Iterating over arrays/The maximum product of adjacent elements/out/
/Topics/Iterating over arrays/The maximum product of adjacent elements/out/production/classes/
/Topics/Iterating over arrays/Theory/out/
/Topics/Iterating over arrays/Theory/out/production/classes/
/Topics/Iterating over arrays/Triples/out/
/Topics/Iterating over arrays/Triples/out/production/classes/
/Topics/Iterating over arrays/Two numbers never occur next to each other/out/
/Topics/Iterating over arrays/Two numbers never occur next to each other/out/production/classes/
/Topics/Multidimensional array/The star figure/out/
/Topics/Multidimensional array/The star figure/out/production/classes/
/Topics/NPE/Avoid NPE with strings/out/
/Topics/NPE/Avoid NPE with strings/out/production/classes/
/Topics/Primitive and reference types/Creating a primitive/out/
/Topics/Primitive and reference types/Creating a primitive/out/production/classes/
/Topics/Primitive and reference types/Creating a reference type/out/
/Topics/Primitive and reference types/Creating a reference type/out/production/classes/
/Topics/Primitive and reference types/The assignment/out/
/Topics/Primitive and reference types/The assignment/out/production/classes/
/Topics/Primitive and reference types/Theory/out/
/Topics/Primitive and reference types/Theory/out/production/classes/
/Topics/Switch statement/A simple calculator/out/
/Topics/Switch statement/A simple calculator/out/production/classes/
/Topics/Switch statement/Floor-space of the room/out/
/Topics/Switch statement/Floor-space of the room/out/production/classes/
/Topics/The while and do-while loops/Collatz conjecture/out/
/Topics/The while and do-while loops/Collatz conjecture/out/production/classes/
/Topics/The while and do-while loops/Squares of natural numbers/out/
/Topics/The while and do-while loops/Squares of natural numbers/out/production/classes/
/Topics/The while and do-while loops/The largest element of a sequence/out/
/Topics/The while and do-while loops/The largest element of a sequence/out/production/classes/
/Topics/The while and do-while loops/The length of the sequence/out/
/Topics/The while and do-while loops/The length of the sequence/out/production/classes/
/Topics/The while and do-while loops/The number of loop body executions/out/
/Topics/The while and do-while loops/The number of loop body executions/out/production/classes/
/Topics/The while and do-while loops/The sequence/out/
/Topics/The while and do-while loops/The sequence/out/production/classes/
/Topics/The while and do-while loops/The smallest value/out/
/Topics/The while and do-while loops/The smallest value/out/production/classes/
/Topics/The while and do-while loops/The sum of elements/out/
/Topics/The while and do-while loops/The sum of elements/out/production/classes/
/Topics/The while and do-while loops/Theory/out/
/Topics/The while and do-while loops/Theory/out/production/classes/